<div class="min-h-screen flex" dir="ltr">
    <div class="flex-1 ...">
        Left to Right
        <div>
            <div class="col-lg-9 content-wrapper">
                <div class='col-lg-6' id='local' style="margin: 0 auto;padding-top: 15px;">
                    <div style="width: 250px;margin: 0 auto;">
                        <ejs-combobox #local [autofill]='true' [cssClass]='cssClass' [dataSource]='sportsData'
                                      [fields]='localFields' [placeholder]='localWaterMark' [popupHeight]='height'
                                      id='games'></ejs-combobox>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="col-lg-9 content-wrapper">
                <div class='col-lg-6' id='local' style="margin: 0 auto;padding-top: 15px;">
                    <div style="width: 250px;margin: 0 auto;">
                        <ejs-dropdownlist [cssClass]='cssClass' [dataSource]='sportsData' [fields]='localFields'
                                          [placeholder]='localWaterMark' [popupHeight]='height'
                                          id='games1'></ejs-dropdownlist>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="col-lg-9 content-wrapper">
                <div class='col-lg-6' id='local' style="margin: 0 auto;padding-top: 15px;">
                    <div style="width: 250px;margin: 0 auto;">
                        <ejs-datepicker [cssClass]='cssClass'></ejs-datepicker>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex-1 ..." dir="rtl">
        Right To Left
        المشروع

        <div>
            <div class="col-lg-9 content-wrapper">
                <div class='col-lg-6' id='local' style="margin: 0 auto;padding-top: 15px;">
                    <div style="width: 250px;margin: 0 auto;">
                        <ejs-combobox #local [autofill]='true' [cssClass]='cssClass' [dataSource]='sportsData'
                                      [fields]='localFields' [placeholder]='localWaterMark' [popupHeight]='height'
                                      id='games'></ejs-combobox>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

